html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
    padding: 0;
    margin-top: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: center;
}

.navlist, header, footer {
    background-color: #003976;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: 'EB Garamond', serif;
}

.navlist {
    display: flex;
    justify-content: center;
    background-color: #003976;
    color: #fff;
    width: 80%; 
    margin: 20px auto; 
    text-align: center;
    padding: 1em;
    gap: 20px;
}

.navlist a {
    color: black;
    background-color: turquoise;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 50px; 
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navlist a:hover{
    background: black;
    color: white;
    padding: 10px;
}

.search{
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}

#search{
    max-width: 100%;
}

#Logo{
    height: auto;
    max-width: 100%;
    width: 125px;
}

#footerLogo{
    height: auto;
    max-width: 100%;
    width: 200px;
}

main{
    flex: 1;
    text-align: center;
}



/*-----------------Welcome Section-----------------*/

  .line-container{
    width: 400px;
    margin: 0 auto;
    border-top: 2px solid #FFB81C;
    margin-top: 20px;
    margin-bottom: 20px;
}

.Flight1, .Flight2, .Flight3, .Flight4 {
    text-align: center; 
    font-size: 18px; 
    margin-top: 20px; 
    color: black; 
  }

.titleHeading{
    font-size: x-large;
    color: #003976;
    margin-top: 8%;
}

.FlightLine{
    font-size: large;
    font-weight: bold;
}



/*--------------FAQS-----------------*/

summary:hover {
    color: #005bb5; /* Changes color on hover */
}

.answer{
    font-size: 16px;
    margin: 10px 0;
}

summary {
    font-size: 18px; 
    font-weight: bold; 
    cursor: pointer; 
    padding: 5px;
    color: #0073e6; 
}

details {
    margin-bottom: 30px; 
    border: 1px solid #ccc; 
    border-radius: 8px; 
    background-color: turquoise; 
    padding: 10px; 
}

/*-----------------Flights Section-----------------*/
#Plane1, #Plane2, #Plane3, #Plane4 {
    width: 600px;
    height: auto;
}

.FlightList {
    margin-top: 20%;
}

.FlightHeader {
    font-size: 5rem !important;
}

#PlaneIcon {
    width: 200px;
    height: auto;
}

/* Media query for smaller screens */

@media only screen and (max-width: 600px) {

    .FlightHeader {
        font-size: large;
    }

    h2{
        font-size: medium;
    }

}