html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
}

.navlist, header, footer {
    background-color: #003976;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 1em;
    font-family: 'EB Garamond', serif;
}

.navlist {
    display: flex;
    justify-content: center;
    background-color: #003976;
    color: #fff;
    width: 80%; 
    margin: 20px auto; 
    text-align: center;
    padding: 1em;
    gap: 20px;
}

.navlist a {
    color: black;
    background-color: turquoise;
    text-decoration: none;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    width: 50px; 
    height: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.navlist a:hover{
    background: black;
    color: white;
    padding: 10px;
}

.search{
    margin-top: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}

#search{
    max-width: 100%;
}

#Logo{
    height: auto;
    max-width: 100%;
    width: 125px;
}

#footerLogo{
    height: auto;
    max-width: 100%;
    width: 200px;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    text-align: center;
}

.about{
    font-size:x-large;
    font-weight: bold;
}

.Figure-1, .Figure-2, .Figure-3{
    height: auto;
    width: 30vw;
    margin-bottom: 10%;
}

/* ^^^^^^^^^^^^^ */
/*ALERT BOX*/

#alert-box {
    background-color: red;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    width: 80%; /* Adjust as needed */
    margin-bottom: 20px; /* Adds spacing below the alert */
}


/* Media query for smaller screens */

@media only screen and (max-width: 600px) {
    h1 {
        font-size: large !important;
    }

    .about {
        font-size: medium !important;
    }
    
    #alert-box {
        width: 95% !important; /* or try 90% or 100% for full width with padding */
        padding: 10px !important;
        font-size: medium !important;
    }
}